<div class="card">
  <div class="card-header">Create Employee</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label> First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="employee.firstName"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label> Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="employee.lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label> Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          [(ngModel)]="employee.age"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label> Email </label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="employee.email"
          name="emailId"
        />
      </div>

      <div class="form-group">
        <label> Hiring Date</label>
        <input
          type="text"
          class="form-control"
          id="hiringDate"
          [(ngModel)]="employee.hiringDate"
          name="lastName"
        />
      </div>

      <br />
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>




