thead {
    color: #337AB7;
  }
  
.card-header {
  color:#ffffff;
  background-color: #009e4d;
}  

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.example-full-width {
  width: 100%;
}