<h1 style='text-align: center; background-color: #009e4d; margin-bottom: 0rem;'>{{pageTitle}}</h1>
<nav class='navbar navbar-expand navbar-light bg-light gr'>
  <ul class='nav nav-pills' style="margin-left: 1rem;">
    <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/employees'>Employees List</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/employees-create'>Add Employee</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>